.settings-window {
    position: relative;

    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 16px;

    width: 400px;
    height: 100%;

    padding: 16px 16px;

    &__title {
        display: inline-block;

        margin-top: 26px;
        font-weight: 600;
    }
}